@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


:root {
  --background: #07060a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #07060a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  animation: scroll-left 25s linear infinite;
}

.marquee-track:hover {
  animation-play-state: paused; /* optioneel pauzeren bij hover */
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0; }
}

.animate-scroll {
  animation: scroll 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out forwards;
}

select option {
  color: #030712;
  background-color: #ffffff;
}

select option:checked,
select option:hover {
  color: #ffffff;
  background-color: #7c3aed;
}
